[submodule "deps/Sanitize.js"]
	path = deps/Sanitize.js
	url = https://github.com/thedod/Sanitize.js.git
[submodule "deps/jwysiwyg"]
	path = deps/jwysiwyg
	url = https://github.com/akzhan/jwysiwyg.git
[submodule "deps/jcarousel"]
	path = deps/jcarousel
	url = https://github.com/jsor/jcarousel.git
