<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="{baseURL}/static/style.css" /> 
    <script src="{baseURL}/static/js/jquery-1.6.2.js"></script>
    <script src="{baseURL}/kanso.js"></script>
    <title>{title}</title> 
  </head> 
  <body> <a target="_blank" href="http://github.com/thedod/kansoblog"><img style="z-index:999; position: fixed; bottom: 0; right: 0; border: 0;" src="{baseURL}/static/images/github-ribbon.png" alt="Fork me on GitHub"></a>
    {>"session.html"/}
    <h1 class="site name"><a href="{baseURL}/">{site_name}</a></h1>
    <div id="content">
      {content|s}
    </div>
    <script src="{baseURL}/static/js/json2.js"></script>
    <script src="{baseURL}/static/js/jquery.simplemodal-1.4.1.js"></script>
  </body>
</html>
