<h1>{form_title}</h1>
<link rel="stylesheet" href="{baseURL}/static/jwysiwyg/jquery.wysiwyg.css" type="text/css"/>
<script type="text/javascript" src="{baseURL}/static/jwysiwyg/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="{baseURL}/static/jwysiwyg/controls/wysiwyg.link.js"></script>
<script type="text/javascript" src="{baseURL}/static/wysiwyg_controls.js"></script>

<form method="POST" action="">
  <table>
    {form|s}
  </table>
  <input type="submit" value="Add" />
</form>

<script type="text/javascript">
$(function() {
	$('#id_text');
	$('#id_text').wysiwyg({
                controls:window.wysiwyg_controls,
                // Once we have RTL - // css: {direction:'rtl'},
                initialContent:''
        });
});  
</script>
