<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <link rel="stylesheet" type="text/css" href="{baseURL}/static/{?config.rtl}style-rtl.css{:else}style.css{/config.rtl}" /> 
    {#config.extra_css}<link rel="stylesheet" type="text/css" href="{baseURL}/static/{.}" />{~n}{/config.extra_css} 
    <title>{config.site_name} - carousel</title> 
  </head> 
  <body>
    <div id="carousel-container">
      <img src="{baseURL}/static/images/spinner-small.gif">
    </div>
    <script src="{baseURL}/static/js/jquery-1.6.2.js"></script>
    <script src="{baseURL}/static/js/json2.js"></script>
    <script type="text/javascript" src="{baseURL}/static/jcarousel/lib/jquery.jcarousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{baseURL}/static/jcarousel/skins/{config.carousel_skin}/skin.css" />
    <script type="text/javascript" src="{baseURL}/kanso.js"></script>
  </body>
</html>
